@media screen and (max-width:576px) {
    
    .list-item {
        display: none;
    }

    .nav-bar i {
        display: block;
        color: white;
    }
    .banner-container{
        flex-direction: column;
        gap: 45px;
    }
    .footer-container{
        flex-direction: column;
    }
}