@media screen and (max-width:576px) {
    .nav-bar{
        width: 90%;
    }
    .list-item {
        display: none;
    }

    .nav-bar i {
        display: block;
        color: white;
    }
    .banner-container{
        flex-direction: column;
        gap: 45px;
    }
    .banner-content{
       margin-top: 50px;
       
    }
    .banner-title {
        font-size: 2.2rem;
        margin-bottom: 10px;
        width: 50%;
        margin-left:20px;
    }
    .banner-description{
        margin-left:20px;
        width: 50%;
    }
    .shape{
        font-size: 2.2rem;
    }
    
    .shared-button{
        display: flex;
        margin-left:20px;
    }
    .join-button{
        padding: 15px 40px;
        font-size: 0.7rem;
    }
    .Download-button{
        padding: 15px 40px;
        font-size: 0.7rem;
    }
    .button{
        flex-direction: row-reverse;
        gap: 10px;
        bottom: 150px;
        left: 12px;
    }
    .icon{
        display: block;
    }
    .circle{
        display: none;
    }
    .text-button{
        top: 50px;
        right: 5px;
        /* padding: 10px 35px 25px 18px; */
    }
    .text-button h2{
        font-size: 1.8rem;
    }
    .text-button p{
        font-size: 0.7rem;
    }
    /* header part end here */

 /* habit part start */
    .habit{
        margin-top: 0px;
    }
    .habit-text {
        width: 80%;
    }
    .habit-title{
        font-size: 2rem;
        text-align: left;
    }
    .habit-description{
        text-align: center;
    }
    .image-content{
        width: 80%;
        margin: 0 auto;
        flex-direction: column;
    }
    /* habit part ends */
    .run{
        width: 90%;
        height: 100%;
        margin: 0 auto;
        margin-top: 50px;
    }
    .run-container{
        flex-direction: column;
        gap: 30px;
    }
    .run-content {
        max-width: 80%;
        /* border: 1px solid salmon; */
    }
    .run-title{
        width: 80%;
        font-size: 2rem;
    }
    .join-now{
        width: 100%;
        font-size: 1rem;
    }
    .run-image{
        width: 80%;
    }
    .run-image img {
        width: 100%;
        max-height: 170px;
        display: none;
    }












    
    .footer-container{
        flex-direction: column;
    }
}